:root {
  --bg-color: #2F3136;
  --main-dark: #36393F;
  --dark-dark: #202225;
  --moderate-dark: #333;
  --main-text: #DFFFFF;
  --deemphasized-text:#CCCCCC;
  --main-red: #E93233;
  --light-red:#F56327;
  --main-orange: #FFA131;
  --light-orange:#FFCB24;
  --main-yellow: #FFF033;
  --light-yellow:#9AFF26;
  --main-green: #31974F;
  --light-green: #2CA393;
  --main-blue: #316EFF;
  --light-blue: #2779B0;
  --main-purple: #8F379F;
  --light-purple: #AB3354;
  --main-pink: #FF2994;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--bg-color);
  font-size:1em;
  margin:1em;
  padding:1em;
  border:1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.apexcharts-tooltip {
  background-color: var(--dark-dark) !important;
  box-shadow: none !important;
  border:none !important;
}

.apexcharts-tooltip div {
  background-color: var(--dark-dark) !important;
  border-top:none !important;
  border-right:none !important;
  opacity:1;
  color: var(--deemphasized-text);
}

.apexcharts-tooltip-title {
  border-bottom: 1px solid var(--moderate-dark) !important;
}

.apexcharts-xaxistooltip {
  background-color: var(--dark-dark) !important;
  border:none !important;
}

.apexcharts-xaxistooltip:before {
  border-color: rgba(144, 164, 174, 0);
  border-width: 7px;
  margin-left: -7px;
}

.apexcharts-xaxistooltip-text {
  color:var(--deemphasized-text);
}

.apexcharts-xaxistooltip-bottom:before {
  border-bottom-color: var(--dark-dark) !important;
}

.apexcharts-xaxistooltip-bottom:after {
  border-bottom-color: var(--dark-dark) !important;
}

.apexcharts-menu {
  background:var(--dark-dark) !important;
  border:1px solid var(--moderate-dark) !important;
}

.apexcharts-menu-item {
  color:var(--deemphasized-text);
}

.apexcharts-menu-item:hover {
  background-color:#5c6fb1 !important;
}

.chartTooltip {
  width:100%;
  background: var(--dark-dark);
  border:none;
  margin-top:0;
}

.tooltipMonth {
  margin-top:4px;
  color:var(--deemphasized-text);
  padding-right:10px;
  padding-left:10px;
  padding-bottom:4px;
  margin-bottom:0px;
  border-bottom: 1px solid var(--moderate-dark) !important;
}
.tooltipData {
  margin-top:4px;
  margin-bottom:8px;
  padding-right:10px;
  padding-left:10px;
  color:var(--deemphasized-text);
}

#pageTitleHeader {
  font-family:'Roboto';
  font-size:6em;
  color:#DFFFFF;
  margin-top:0;
  margin-bottom:0;
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.40);
}

.bigSectionTitleHeader {
  font-family:'Roboto';
  font-size:3em;
  color:var(--main-text);
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.40);
}

.mostLeastHeader {
  font-family:'Roboto';
  font-size:1.6em;
  color:var(--main-text);
}

.lineGraphWrap {
  width:calc(80% - 1em);
  margin:0 auto;
  padding:0.5em;
  height:65vh;
  max-height: 65vh;
}

.redGraphWrap {
  background:linear-gradient(135deg,var(--main-red),var(--light-red));
  border-radius:0.75em;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.40);
}

.orangeGraphWrap {
  background:linear-gradient(135deg,var(--main-orange),var(--light-orange));
  border-radius:0.75em;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.40);
}

.yellowGraphWrap {
  background:linear-gradient(135deg,var(--main-yellow),var(--light-yellow));
  border-radius:0.75em;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.40);
}

.greenGraphWrap {
  background:linear-gradient(135deg,var(--main-green),var(--light-green));
  border-radius:0.75em;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.40);
}

.blueGraphWrap {
  background:linear-gradient(135deg,var(--main-blue),var(--light-blue));
  border-radius:0.75em;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.40);
}

.purpleGraphWrap {
  background:linear-gradient(135deg,var(--main-purple),var(--light-purple));
  border-radius:0.75em;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.40);
}

.activityGraph {
  width:100%;
  height:100%;
  background-color:var(--main-dark);
  border-radius:0.5em;
  overflow-y:hidden;
  overflow-x:hidden;
}

#actGraphControls {
  display:grid;
  grid-template-columns: 115px 115px;
}

.actTimedDropdownMenu {
  background-color:var(--main-dark);
}

.orderedDivWrap {
  width:calc(100% - 1em);
  margin:0 auto;
  padding:0.5em;
}

#orderedDiv {
  width:100%;
  background-color:var(--main-dark);
  border-radius:0.5em;
}

#bigHorizDiv {
  width:80%;
  background-color:var(--main-dark);
  margin-left:10%;
}

.twoOrdered {
  display:grid;
  width:80%;
  margin-left:10%;
  margin-top:5vh;
  column-gap:10%;
  grid-template-columns:45% 45%;
  margin-bottom:5vh;
}

.listEntryText {
  font-family:'Roboto';
  color:var(--main-text);
  font-size:2.4em;
  margin-top:0;
  margin-bottom:0;
  padding-top:.3em;
  padding-bottom:.3em;
}

.listEntryText:nth-child(2n+1) {
  background-color: var(--bg-color);
}

.listContainer {
  height:62vh;
  max-height:62vh;
  overflow-y:overlay;
  padding-bottom:1vh;
  border-bottom-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
}

.pieDiv {
  height:62vh;
  max-height:62vh;
  margin:0 auto;
  overflow-y:overlay;
}

.userListBox {
  display:flex;
  height:80px;
  align-items: center;
  margin-top:0;
  margin-bottom:0;
  padding-top:.5em;
  padding-bottom:.5em;
  width:100%;
}

.userListBox:nth-child(2n+1) {
  background-color: var(--bg-color);
}

.listEntryPFP {
  width:80px;
  height:80px;
  border-radius:50%;
  margin-left:10px;
}

.userListText {
  font-family:'Roboto';
  color:var(--main-text);
  font-size:2.4em;
  margin-left:12px;
  overflow-x:hidden;
  white-space: nowrap;
}

.userListData {
  font-family:'Roboto';
  color:var(--main-text);
  font-size:2.4em;
  margin-left:auto;
  margin-right:20px;
}

.maximizeButton {
  display:none;
  width:0px;
  height:0px;
}

#toplinesDiv {
  padding-bottom:0;
  margin-left:37.5%;
  display:grid;
  width:25%;
  grid-template-columns: 45% 45%;
  column-gap: 10%;
}

.toplineLabel {
  color:var(--main-text);
  padding-bottom:4px;
  border-bottom:2px solid var(--main-text);
  font-size:1.4em;
  font-weight: 400;
  font-family:'Roboto','Arial','Courier New';
}

.toplineText {
  margin-top:-16px;
  color:var(--main-text);
  font-size:1.4em;
  font-weight: 400;
  font-family:'Roboto','Arial','Courier New';
}

.toplineDiv {
  margin-top:-25px;
  width:100%;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
  padding-right:4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 8px;
  background-color: var(--dark-dark);
}

/* Track */
::-webkit-scrollbar-track {
  padding-right:4px;
  border: 4px solid rgba(255, 0, 0, 0);
}

@media only screen and (max-width: 1200px) {
  .lineGraphWrap {
    width:calc(90% - 1em);
    margin:0 auto;
    padding:0.5em;
    height:40vh;
    max-height: 40vh;
  }
  .twoOrdered {
    display:grid;
    width:90%;
    margin-left:5%;
    padding-left:0%;
    padding-right:0%;
    margin-top:0vh;
    column-gap:0%;
    grid-template-columns:100%;
    margin-bottom:0vh;
  }
  .bigSectionTitleHeader {
    font-family:'Roboto';
    font-size:2.2em;
    padding-top:1vh;
    padding-bottom:0vh;
    color:var(--main-text);
  }
}

@media only screen and (max-width: 500px) {
  #pageTitleHeader {
    font-family:'Roboto';
    font-size:4em;
    color:var(--main-text);
    margin-top:2%;
    margin-bottom:5px;
    padding-bottom:-6vh;
  }
  .bigSectionTitleHeader {
    font-family:'Roboto';
    font-size:3em;
    padding-top:1vh;
    padding-bottom:0vh;
    color:var(--main-text);
  }
  .mostLeastHeader {
    font-family:'Roboto';
    font-size:1.6em;
    color:var(--main-text);
  }
  .lineGraphWrap {
    width:calc(100% - 1em);
    margin:0 auto;
    padding:0.5em;
    height:28vh;
    max-height: 28vh;
  }
  .activityGraph {
    width:100%;
    border-radius:0.5em;
  }
  .twoOrdered {
    display:grid;
    width:100%;
    margin-left:0%;
    padding-left:0%;
    padding-right:0%;
    margin-top:0vh;
    column-gap:0%;
    grid-template-columns:100%;
    margin-bottom:0vh;
  }
  #orderedDiv {
    width:100%;
  }
  .listEntryText {
    font-family:'Roboto';
    color:var(--main-text);
    font-size:1.9em;
    white-space: nowrap;
  }
  .listContainer {
    height:40vh;
    max-height:40vh;
    overflow-y:overlay;
    position: relative;
  }
  .userListText {
    font-family:'Roboto';
    color:var(--main-text);
    font-size:1.4em;
    margin-left:12px;
    overflow-x:hidden;
    white-space: nowrap;
  }
  .userListData {
    font-family:'Roboto';
    color:var(--main-text);
    font-size:1.4em;
    margin-left:auto;
    margin-right:20px;
  }
  .maximizedno {
    overflow-y:hidden;
  }
  .maximizeBehind {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.65));
    position:absolute;
    display:block;
    top:60%;
    height:40%;
    width:100%;
  }
  .maximizeButton {
    display:inline;
    margin-top:15%;
    height:46%;
    width:40%;
    font-size:1.4em;
    color:var(--main-text);
    background-color:var(--dark-dark);
    border-radius:8px;
    border:2px solid var(--main-text);
    font-family:'Roboto';
  }
  .hiddenyes {
    display:none;
    width:0px;
    height:0px;
  }
  .pieDiv {
    height:40vh;
    max-height:40vh;
  }
}